.form
  = form_for(@work, :html => { :multipart => true }) do |f|
    - if @work.errors.any?
      .message.error#error_explanation
        %ul
          - @work.errors.full_messages.each do |msg|
            %li= msg

    %ul.fields
      %li.field
        .label= f.label :title, 'Название'
        .input= f.text_field :title
      %li.field
        .label= f.label :description, 'Описание'
        .input= f.text_area :description
      %li.field
        .label Тип
        .input
          = select("work", "work_type_id", @work_types.collect {|p| [ p.name, p.id ] }, { include_blank: true })
      %li.field
        .label
          Изображения:
        .input
          = render('admin/images/form', images: @images, form: f)

      %li.actions
        .input
          = link_to request.referer, :class => "back-link" do
            %i.fa.fa-hand-o-left
            Назад
          = f.submit :class => "button", :value => "Сохранить"