.base-width.works-list-wrapper
  - @works.each do |work|
    %ul#works-list-edit.works-list-edit
      %li.work-item.clearfix
        .aci-img-wrap
          .aci-img-cell
            - if work.images.present?
              = image_tag work.images.first.file_url(:small), :class => 'aci-img'
        .wi-actions
          = link_to('Изменить', edit_admin_work_url(:id => work.id), :class => "button blue-type edit mb5" )
          = link_to('Удалить', admin_work_url(work.id), :confirm => "Вы точно хотите удалить?", :method => :delete, :class => "button delete mb5" )
        .wi-center
          .wi-title
            = link_to work.title, edit_admin_work_url(:id => work.id)
          .wi-description
            = work.description
          - if work.work_type.present?
            .wi-type
              = work.work_type.name
