%ul#js-images-fields.images-fields
  %li.image-row
    #js-progress.upload-process
    .inline-field
      .if-label
        = label_tag 'image_file', 'Файл:'
      .if-input
        = file_field_tag('image[file]', :class => 'js-file-upload')
    .inline-field
      .if-label
        = label_tag 'image_title', 'Название:'
      .if-input
        = text_field_tag 'image[title]'
    .inline-field
      .if-label
        = label_tag 'image_description', 'Подпись:'
      .if-input
        = text_field_tag 'image[description]'
