.top-naw-wrapper
  .base-width
    %ul.top-nav-list.clearfix
      %li.tn-item= link_to 'Главная', root_url, :class => 'tn-link'
      %li.tn-item= link_to 'Все работы', admin_works_url, :class => 'tn-link'
      %li.tn-item= link_to 'Добавить работу', new_admin_work_url, :class => 'tn-link'
      %li.tn-item= link_to 'Контакты', new_admin_work_url, :class => 'tn-link'
      %li.tn-item= link_to 'Обо мне', new_admin_work_url, :class => 'tn-link'
      %li.tn-item= link_to 'Добавить тип', new_admin_work_type_url, :class => 'tn-link'
      %li.tn-item= link_to 'Все типы', admin_work_types_url, :class => 'tn-link'
